<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zaynStudio.forum.dao.UserDao">
    <select id="selectUserIDByEmail">
        select `user_id` from user where email = #{userEmail}
    </select>

    <select id="selectUserIDByEmail">
        select `user_id` from user where userName = #{userName}
    </select>

    <select id="selectUserProfile" resultMap="UserPO">
        select * from user where `userID` = #{userID}
    </select>


    <insert id="createUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (password, `name`, `role`)
        values (#{password}, #{name}, #{role})
    </insert>


    <resultMap id="UserPO" type="com.nju.edu.erp.model.po.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="password" property="password"></result>
        <result column="role" property="role"></result>
    </resultMap>
</mapper>